

<main class="main">

  <!--These scripts are not working-->
  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/jquery.scrollex.min.js"></script>
  <script src="../scripts/jquery.scrolly.min.js"></script>
  <script src="../scripts/browser.min.js"></script>
  <script src="../scripts/breakpoints.min.js"></script>
  <script src="../scripts/util.js"></script>
  <script src="../scripts/main.js"></script>
<!-- Page Wrapper -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="users" class="btn btn-info">List Users</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="adduser" class="btn btn-info">Add User</a>
                </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div id="page-wrapper">

  <!-- Header --> 
    <header id="header" class="alt">
      <h1><a href="index.html">Fellowship</a></h1>
      <nav id="nav">
        <ul>
          <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="generic.html">Generic</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>

  <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <h2>Fellowship of the Movie Club</h2>
        <p>Welcome to the movie club. Hang onto your dicks.<br />
        </p>
        <p><br />
        </p>
      </div>
      <p >The theme for this week is Noir. Please enjoy our selections.</p>
    </section>


 
  <!-- Two -->
    <section id="two" class="wrapper alt style2">
      <section class="spotlight">
        <div class="image"><img src="../assets/images/thisweeksfilms/10072024/theyakuza.jpg" alt="" /></div><div class="content">
          <h2>The Yakuza</h2>
          <p>American private eye Harry Kilmer returns to Japan to rescue a friend's kidnapped daughter from the clutches of the Yakuza.

          </p>
        </div>
      </section>
      <section class="spotlight">
        <div class="image"><img src="../assets/images/thisweeksfilms/10072024/touchofevil.jpg" alt="" /></div><div class="content">
          <h2>Touch of Evil</h2>
          <p>When a car bomb explodes on the American side of the U.S./Mexico border, Mexican drug enforcement agent Miguel Vargas begins his investigation, along with American police captain Hank Quinlan. When Vargas begins to suspect that Quinlan and his shady partner, Menzies, are planting evidence to frame an innocent man, his investigations into their possible corruption quickly put himself and his new bride, Susie, in jeopardy.</p>
        </div>
      </section>
      <section class="spotlight">
        <div class="image"><img src="../assets/images/thisweeksfilms/10072024/shallowgrave.jpg" alt="" /></div><div class="content">
          <h2>Shallow Grave</h2>
          <p>When David, Juliet, and Alex are searching for a fourth roommate for their flat, they settle on the aloof Hugo. However, they soon find Hugo dead, with a large sum of cash being among his belongings. The three friends decide to keep the money, dismembering and burying Hugo's body. However, their newfound fortune begins to corrode their friendships, with each roommate resorting to manipulation tactics to scam the others out of the money.</p>
        </div>
      </section>
    </section>

  

  <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </footer>

</div>
 

</main>


<router-outlet />
